Repository microsoft/PowerShellForGitHub, pull requests merged in 2020-07, with the labels that each got.

#260 CI Build updates: build queuing and Windows PS7
  build/pipelines/azure-pipelines.ci.yaml
  build/pipelines/templates/run-staticAnalysis.yaml
  build/pipelines/templates/run-unitTests.yaml
  build/pipelines/templates/verify-testConfigSettingsHash.yaml
  build/pipelines/templates/wait-runningBuild.yaml
  build/scripts/Wait-RunningBuild.ps1
Labels: build

#262 Fix handling of numerical configuration properties across PS5 and PS7
  GitHubConfiguration.ps1
Labels: bug

#256 GitHubBranches: Add New/Remove-GitHubRepositoryBranch Functions
  GitHubBranches.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubBranches.tests.ps1
  USAGE.md
Labels: api completeness, api-refs

#193 Add GitHub Reactions support
  GitHubAssignees.ps1
  GitHubBranches.ps1
  GitHubContents.ps1
  GitHubEvents.ps1
  GitHubIssueComments.ps1
  GitHubIssues.ps1
  GitHubLabels.ps1
  GitHubMilestones.ps1
  GitHubMiscellaneous.ps1
  GitHubProjects.ps1
  GitHubPullRequests.ps1
  GitHubReactions.ps1
  GitHubReleases.ps1
  GitHubRepositories.ps1
  GitHubRepositoryForks.ps1
  GitHubRepositoryTraffic.ps1
  GitHubTeams.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubReactions.Tests.ps1
Labels: api completeness, api-reactions

#265 Attempting to increase reliability of some Pester tests
  Tests/Common.ps1
  Tests/GitHubAssignees.tests.ps1
  Tests/GitHubContents.tests.ps1
  Tests/GitHubIssues.tests.ps1
  Tests/GitHubLabels.tests.ps1
  Tests/GitHubProjects.tests.ps1
  Tests/GitHubRepositories.tests.ps1
  Tests/GitHubRepositoryForks.tests.ps1
Labels: bug, tests

#268 Attempting to increase reliability of some Pester tests - take 2
  GitHubConfiguration.ps1
  GitHubCore.ps1
  Tests/Common.ps1
  Tests/GitHubAssignees.tests.ps1
  Tests/GitHubContents.tests.ps1
  Tests/GitHubIssues.tests.ps1
  Tests/GitHubLabels.tests.ps1
  Tests/GitHubProjects.tests.ps1
  Tests/GitHubRepositories.tests.ps1
  Tests/GitHubRepositoryForks.tests.ps1
Labels: tests

#177 Complete support for Releases API
  Formatters/GitHubReleases.Format.ps1xml
  GitHubAssignees.ps1
  GitHubBranches.ps1
  GitHubContents.ps1
  GitHubCore.ps1
  GitHubEvents.ps1
  GitHubIssueComments.ps1
  GitHubIssues.ps1
  GitHubLabels.ps1
  GitHubMilestones.ps1
  GitHubMiscellaneous.ps1
  GitHubProjects.ps1
  GitHubPullRequests.ps1
  GitHubReleases.ps1
  GitHubRepositories.ps1
  GitHubRepositoryForks.ps1
  GitHubRepositoryTraffic.ps1
  GitHubTeams.ps1
  Helpers.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubReleases.tests.ps1
  USAGE.md
Labels: api completeness, api-repositories-releases

#172 Add support for gists
  Formatters/GitHubGistComments.Format.ps1xml
  Formatters/GitHubGists.Format.ps1xml
  GitHubCore.ps1
  GitHubGistComments.ps1
  GitHubGists.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubGistComments.tests.ps1
  Tests/GitHubGists.tests.ps1
  USAGE.md
Labels: api completeness, api-gists

#255 New GitHubRepositoryBranchProtectionRule Functions
  GitHubBranches.ps1
  GitHubCore.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubBranches.tests.ps1
  USAGE.md
Labels: api completeness, api-repositories-branches
