Repository microsoft/PowerShellForGitHub, pull requests merged in 2020-06, with the labels that each got.

#209 Pipeline badges in README should be reporting status from master
  README.md
Labels: documentation

#210 Disable the module update check during Pester Tests
  Tests/Common.ps1
Labels: test

#211 Add NUnit Test handling for PSScriptAnalyzer results
  build/pipelines/templates/run-staticAnalysis.yaml
  build/scripts/ConvertTo-NUnitXml.ps1
Labels: build, test

#212 Publish code coverage results for all builds, including forks
  build/pipelines/templates/run-unitTests.yaml
Labels: build

#174 Add confirmation prompts and examples for Remove- functions
  GitHubAssignees.ps1
  GitHubComments.ps1
  GitHubLabels.ps1
  GitHubMilestones.ps1
  GitHubProjectCards.ps1
  GitHubProjectColumns.ps1
  GitHubProjects.ps1
  GitHubRepositories.ps1
  Tests/GitHubAnalytics.tests.ps1
  Tests/GitHubAssignees.tests.ps1
  Tests/GitHubComments.tests.ps1
  Tests/GitHubContents.tests.ps1
  Tests/GitHubEvents.tests.ps1
  Tests/GitHubLabels.tests.ps1
  Tests/GitHubMilestones.tests.ps1
  Tests/GitHubProjects.tests.ps1
  Tests/GitHubRepositories.tests.ps1
  Tests/GitHubRepositoryForks.tests.ps1
  Tests/GitHubRepositoryTraffic.tests.ps1
Labels: technical debt

#214 Add issue and pull request templates
  .github/ISSUE_TEMPLATE/Documentation.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/Problem.md
  .github/ISSUE_TEMPLATE/Support.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#213 Fix handling of -WhatIf in core functions
  GitHubCore.ps1
Labels: bug

#176 Add tests to GitHubRepositories.tests.ps1
  CONTRIBUTING.md
  Tests/GitHubRepositories.tests.ps1
Labels: technical debt, test

#192 GitHubRepositories: Add Additional Parameters
  GitHubRepositories.ps1
  Tests/GitHubRepositories.tests.ps1
Labels: enhancement

#236 CI: Report full stack trace if ScriptAnalyzer throws an error and improve ScriptAnalyzer installation to not skip publisher and check and not allow clobber
  CONTRIBUTING.md
  build/pipelines/templates/run-staticAnalysis.yaml
Labels: build

#240 Save & restore the state of [Net.ServicePointManager]::SecurityProtocol
  GitHubCore.ps1
Labels: bug

#224 PSScriptAnalyzer and VS Code tooling
  .vscode/launch.json
  CONTRIBUTING.md
  PSScriptAnalyzerSettings.psd1
  build/pipelines/templates/run-staticAnalysis.yaml
  build/scripts/ConvertTo-NUnitXml.ps1
Labels: tooling

#243 Fix usage of Resolve-RepositoryElements -DisableValidation
  GitHubContents.ps1
  GitHubIssues.ps1
  GitHubMiscellaneous.ps1
  GitHubReleases.ps1
  GitHubRepositories.ps1
  GitHubRepositoryForks.ps1
  Tests/GitHubMiscellaneous.tests.ps1
Labels: bug

#235 GitHubRepositories: Add Dependabot Service Functions
  GitHubRepositories.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubRepositories.tests.ps1
  USAGE.md
Labels: api completeness, api-repositories

#221 GitHubRepositories: Add New-GitHubRepositoryFromTemplate Function
  CONTRIBUTING.md
  GitHubRepositories.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubRepositories.tests.ps1
  USAGE.md
Labels: api completeness, api-repositories

#241 GitHubContents: New Function Set-GitHubContent
  GitHubContents.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubContents.tests.ps1
  USAGE.md
Labels: api completeness, api-contents

#205 GitHubRepositories: Add Output Type Views
  Formatters/GitHubRepositories.Format.ps1xml
  GitHubRepositories.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubRepositories.tests.ps1
Labels: enhancement, waiting for update

#233 Update GitHubRepositories Tests and Refactor Get-GitHubRepository Function
  GitHubRepositories.ps1
  Tests/GitHubRepositories.tests.ps1
Labels: api-repositories, bug, waiting for update

#252 Invoke-UpdateCheck fixes
  UpdateCheck.ps1
Labels: bug

#228 Standardize verb usage within the module
  GitHubAssignees.ps1
  GitHubIssues.ps1
  GitHubLabels.ps1
  GitHubRepositories.ps1
  GitHubUsers.ps1
  PowerShellForGitHub.psd1
  Tests/GitHubAssignees.tests.ps1
  Tests/GitHubEvents.tests.ps1
  Tests/GitHubIssues.tests.ps1
  Tests/GitHubLabels.tests.ps1
  Tests/GitHubMilestones.tests.ps1
  Tests/GitHubRepositories.tests.ps1
  USAGE.md
Labels: breaking change, bug, technical debt

#258 Improve CI speed by changing repo targeted by Forks tests
  Tests/GitHubRepositoryForks.tests.ps1
Labels: test

#259 Fix pipeline support and testing for New-GitHubRepositoryFromTemplate
  GitHubRepositories.ps1
  Tests/GitHubRepositories.tests.ps1
Labels: api-repositories, bug

#253 Reimagining status for the module
  GitHubConfiguration.ps1
  GitHubCore.ps1
  Helpers.ps1
  Telemetry.ps1
  Tests/Common.ps1
  Tests/GitHubContents.tests.ps1
Labels: enhancement
