Repository microsoft/PowerShellForGitHub, pull requests merged in 2020-12, with the labels that each got.

#301 GitHubRepositories: Add Get/Set GitHub Repository Actions Permissions
  Formatters/GitHubRepositories.Format.ps1xml
  GitHubRepositories.ps1
  PowerShellForGitHub.psd1
  README.md
  Tests/GitHubRepositories.tests.ps1
  USAGE.md
Labels: api completeness, api-repositories

#306 Fix labels in events being treated as full label objects
  GitHubEvents.ps1
  GitHubLabels.ps1
Labels: bug

#300 GitHubRepositories: Add Get/Set/Remove GitHub Repository Team Permissions
  Formatters/GitHubRepositories.Format.ps1xml
  GitHubCore.ps1
  GitHubRepositories.ps1
  PowerShellForGitHub.psd1
  README.md
  Tests/GitHubRepositories.tests.ps1
  USAGE.md
Labels: api completeness, api-repositories

#309 Fix the USAGE.md example for New-GitHubRepositoryFromTemplate
  USAGE.md
Labels: bug, documentation
